{% if current_user.has_role('Admin') or game_session.is_managed_by(current_user) %}
<!-- Page Heading -->
<section class="jumbotron text-left">

    <div class="row">
      <!-- <h3>Manage the game session</h3> -->
      <div class="col-md-6 ">
          <form method="POST" action="/editsession">
            <div class="form-group">
              <label for="challengeName">Session Name</label>
              <input type="text" value="{{game_session.name}}" class="form-control" id="sessionName" placeholder="Name" name="session_name">
            </div>
            <div class="form-group">
              <label for="challengeValue">Password</label>
              <input type="text"  value="{{game_session.password}}" class="form-control" id="sessionPass" value="10" name="session_password">
            </div>
            <input type="hidden" value="{{game_session.id}}" name="game_session_id" >
            <input type="submit" class="btn btn-primary btn-block" value="Update">
          </form>
      </div>
      <div class="col-md-6 ">

        Session Managers (click to remove):&nbsp;
        {% for user in game_session.managers %}
              <form action="/removemanager" method="post">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" value="{{game_session.id}}" name="game_session_id" >
                <input type="submit" class="btn btn-danger btn-sm"  value="{{user.username}} x"
                onclick="return confirm('Would you like to remove this manager?')">
              </form>&nbsp;
        {% endfor %}

        <form action="{{ url_for('main.add_session_manager') }}" method="POST">
          <div class="form-group">
            <label for="time">Add a manager to the game session:</label><br>
            <div class="input-group">
              <select class="custom-select" id="addManager" name="user_id">
                <option   value="" selected>Choose...</option>
                {% for user in users %}
                  <option value="{{user.id}}">{{user.username}}</option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Add Session Manager</button>
              </div>
            </div>
            <input type="hidden" name="game_session_id" value="{{game_session.id}}">

        </form>
      </div>
      </div>
    </div>
</section>
{% endif %}