<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-bug"></i>
      </div>
      <div class="sidebar-brand-text mx-3">KC7</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    
     <!-- Nav Item - Dashboard -->
    {% if game_session  is defined %}
     <li class="nav-item active">
      <a class="nav-link" href="/challenges/{{game_session.id}}">
        <i class="fas fa-fw fa-list"></i>
        <span>Challenges</span></a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/rankings/{{game_session.id}}">
        <i class="fas fa-fw fa-trophy"></i>
        <span>Rankings</span></a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/teams/{{game_session.id}}">
        <i class="fas fa-fw fa-people-arrows"></i>
        <span>Teams</span></a>
    </li>

    {% if current_user.has_role('Admin') or game_session.is_managed_by(current_user) %}
      <li class="nav-item active">
        <a class="nav-link" href="/analytics/{{game_session.id}}">
          <i class="fas fa-fw fa-chart-line"></i>
          <span>Analytics</span></a>
      </li>
    {% endif %}

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-arrow-left"></i>
        <span>Back to all Games</span></a>
    </li>
    {% else %}

    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-table"></i>
        <span>Start Here</span></a>
    </li>

    {% endif %}

    

    

    <!-- Divider -->
    <hr class="sidebar-divider">

    {% if not g.user.is_authenticated %}
    <!-- Heading -->
    <div class="sidebar-heading">
      Panel 
    </div>
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/login">
        <i class="fas fa-fw fa-user"></i>
        <span>Login</span></a>
    </li>
    {% endif %}

    {% if current_user.has_role('Admin') %}

     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
        <i class="fas fa-fw fa-folder"></i>
        <span>Admin Central</span>
      </a>
      <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!-- <a class="collapse-item" href="/admin/manage_game">Manage the Game</a> -->
          <a class="collapse-item" href="/admin/teams">Manage Teams</a>
          <a class="collapse-item" href="/admin/users">Manage Users</a>
          <a class="collapse-item" href="/admin/sessions">Manage Sessions</a>
          <!-- <a class="collapse-item" href="/admin/manage_database">Manage ADX Perms</a> -->
        </div>
      </div>
    </li>
    {% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->



  