{% extends "main/base.html" %}
{% block body %}

 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Games you are a part of</h1>
    <a href="/joinsession" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Join a new game</a>
</div>

<div class="row">
    {% for session in sessions %}
        
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ session.name }}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <a href="/rankings/{{session.id}}" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-play"></i>
                            </span>
                            <span class="text">Join this game</span>
                        </a>
                    </div>
                </div>
            </div>

    {% endfor %}
</div>

{% endblock %}