{% extends "main/base.html" %}
{% block body %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script>
  $(function () {
    var austDay = new Date();
    var endTime = '{{game_session.end_time | safe}}';
    // austDay = new Date(endTime);
    var targetDate = moment.tz(endTime, "Europe/London");
    console.log(targetDate.toDate())
    $('#defaultCountdown').countdown({until: targetDate.toDate()});
    $('#year').text(targetDate.getFullYear());
  });
</script>

<!-- Page Heading -->
<section class="jumbotron-alt text-center">
  <div class="container">
    <h1 class="jumbotron-heading">🏆 Scoreboard - {{game_session.name}} </h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 ">
        {% if  game_session.uses_timer %}
          <div id="defaultCountdown"></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User Rankings</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Place</th>
              <th>Name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">{{ user.get_place(game_session.id) }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.get_score_by_session(game_session.id) }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>




{% if current_user.has_role('Admin') %}
<script>
$(document).ready(function () {
    var t = $('#dataTable').DataTable({
        columnDefs: [
            {
                searchable: false,
                orderable: true,
                targets: 0,
            },
        ],
        order: [[2, 'desc']],
        pageLength: 100,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ]
    });
});
</script>
{% else %}
<script>
  $(document).ready(function () {
      var t = $('#dataTable').DataTable({
          columnDefs: [
              {
                  searchable: false,
                  orderable: true,
                  targets: 0,
              },
          ],
          order: [[2, 'desc']],
          pageLength: 100
      });
  });
  </script>
{% endif %}

{% endblock %}